<html>

<head>
    <title>mytrips.social</title>

    <link href="css/site.css" rel="stylesheet"/>
    <link href="css/bootstrap.min.css" rel="stylesheet"/>
    <link href="css/bootstrap-theme.min.css" rel="stylesheet"/>

    <!-- push all scripts to below here -->
    <script type="text/javascript" src="js/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/goog/base.js"></script>
    <script src="js/main.js" type="text/javascript"></script>

</head>

<body>

<header class="container">
    <nav>
        Navigation
    </nav>
</header>

<div class="container">
    Hello, {{ name }}
</div>

<footer class="container">
    Footer
</footer>


<script type="text/javascript">
        goog.require("webapp.client");


</script>
</body>

</html>